@import 'tailwindcss';

@theme {
    --font-sans: 'Sora', sans-serif;
}

@layer base {
    button {
        @apply cursor-pointer;
    }

    .CircularProgressbar {
        overflow: visible;
    }

    .CircularProgressbar .CircularProgressbar-path {
        /* filter: drop-shadow(
            2px 3px 10px color-mix(in oklab, var(--color-blue-400) 20%, transparent)
        ); */
    }

    /* custom scrollbar */
    ::-webkit-scrollbar {
        @apply w-1;
    }
    ::-webkit-scrollbar-thumb {
        @apply bg-neutral-700 rounded-full;
    }
    ::-webkit-scrollbar-track {
        @apply bg-transparent;
    }
}

@layer utilities {
    /* hide number input arrows */
    .hide-arrows::-webkit-outer-spin-button,
    .hide-arrows::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    .hide-arrows[type='number'] {
        appearance: textfield;
        -moz-appearance: textfield;
    }

    .common-transition {
        @apply transition-all ease-out duration-300;
    }

    @keyframes custom-pulse {
        0%,
        100% {
            background: rgba(255, 255, 255, 0.01);
        }
        50% {
            background: rgba(255, 255, 255, 0.05);
        }
    }

    .custom-pulse {
        animation: custom-pulse 1.5s infinite ease-in-out;
    }
}
