@tailwind base;
@tailwind components;
@tailwind utilities;

/* Esconder setas dos inputs de número */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: theme('colors.zinc.600');
    border-radius: 999px;
}
